fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv

langchain
langchain-openai
langchain-community
langchain-core
langsmith
langgraph 
faiss-cpu
mcp[cli]         
boto3